h2 {
  text-align: center;
  margin-top: 50px;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.color {
  display: inline-block;
  margin: 0.5px;
  width: 40px;
  height: 40px;
  border: solid black 1px;
}

#pixel-board {
  text-align: center;
  display: block;
  font-size: 0px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  margin: 0.5px;
  background-color: white;
}

.line {
  display: inline-block;
  text-align: center;
  margin: 1px;
}

 .selected {

} 
