h2 {
  text-align: center;
  margin-top: 50px;
}

#title {
  text-align: center;
}


#color-palette {
  text-align: center;
  display: inline;
  margin-left: 26%;
}

#box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: black 1px solid;
  width: 400px;
  height: 530px;
  background-color: rgb(149, 117, 90);
}

.color {
  display: inline-block;
  margin: 0.5px;
  width: 45px;
  height: 45px;
  border: solid black 1px;
}

#pixel-board {
  margin-top: 30px;
  display: block;
  font-size: 0;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  margin: 0.5px;
  background-color: white;
}

.line {
  display: inline-block;
  text-align: center;
  margin: 1px;
}
